---
layout: page
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<h1>Tags</h1>
<h3>태그 목록입니다.</h3>

<div id="tags">
  <ul class="tags-tag-container">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    {%- if this_word == "blog" -%}
    <li style="background-color: #FF3B30;"><a href="{{ site.baseurl }}/tags/{{ this_word }}">{{ this_word }}</a></li>
    {%- elsif this_word == "CocoaPods" or this_word == "dependency" -%}
    <li style="background-color: #5856d6;"><a href="{{ site.baseurl }}/tags/{{ this_word }}">{{ this_word }}</a></li>
    {%- else -%}
    <li><a href="{{ site.baseurl }}/tags/{{ this_word }}">{{ this_word }}</a></li>
    {%- endif -%}
    {% endunless %}{% endfor %}
  </ul>
</div>