<div class="container">
  <a href="https://piemonte93.github.io"
    ><img id="profile" src="/assets/image/photo1.jpeg"
  /></a>
  <h1>{{ site.texture.title }}</h1>
  <h2>{{ site.texture.tagline }}</h2>
  <h3>{{ site.texture.description }}</h3>
  <ul class="social">
    {%- if site.texture.social_links.github -%}
    <a href="https://github.com/{{ site.texture.social_links.github }}"
      ><li><i class="icon-github-circled"></i></li
    ></a>
    {%- endif -%} {%- if site.texture.social_links.linkedIn -%}
    <a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"
      ><li><i class="icon-linkedin-squared"></i></li
    ></a>
    {%- endif -%} {%- if site.texture.social_links.instagram -%}
    <a
      href="https://www.instagram.com/{{ site.texture.social_links.instagram }}"
      ><li><i class="icon-instagram"></i></li
    ></a>
    {%- endif -%}
  </ul>
</div>
