{%- assign date_format = site.texture.date_format -%}
<div class="container">
  <h1>{{ page.title }}</h1>
  <h4 class="post-description">{{ page.description }}</h4>
  <div class="post-date" style="margin-top: 20px">
    Published on {{ page.date | date: date_format }}
  </div>
  <div class="post-tag">
    <ul class="post-tag-container">
      {%- for tag in post.tags -%} {%- if tag == "Front-End" or tag ==
      "Javascript" -%}
      <li style="background-color: #ffd60a">
        <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
      </li>
      {%- elsif tag == "React.js" or tag == "SPA"-%}
      <li style="background-color: #72c1e3">
        <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
      </li>
      {%- elsif tag == "Python" or tag == "Flask" or tag == "Django" -%}
      <li style="background-color: #5856d6">
        <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
      </li>
      {%- elsif tag == "Node.js" -%}
      <li style="background-color: #78b85c">
        <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
      </li>
      {%- elsif tag == "Algorithm" or tag == "CS" -%}
      <li style="background-color: #fd2020">
        <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a>
      </li>
      {%- else -%}
      <li><a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a></li>
      {%- endif -%} {%- endfor -%}
    </ul>
  </div>
</div>
