{%- assign date_format = site.texture.date_format -%}
<div class="container">
	<h1>{{ page.title }}</h1>
	<h4 class="post-description">{{ page.description }}</h4>
	<div class="post-date" style="margin-top:20px">
		Published on {{ page.date | date: date_format }}
	</div>
	<div class="post-tag">
		<ul class="post-tag-container">
			{%- for tag in page.tags -%}
			{%- if tag == "blog" -%}
			<li style="background-color: #ffd60a;"><a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a></li>
			{%- elsif tag == "Swift" -%}
    		 <li style="background-color: #FD2020;"><a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a></li>
			{%- else -%}
			<li><a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a></li>
			{%- endif -%}
			{%- endfor -%}
		</ul>
	</div>
</div>